<mat-card class="card-inventario">
    <div class="contendor-inventarios"> 
        <div class="contenedor-categorias">
            <h3>CATEGORIAS</h3>
            <div class="sub-content-categorias">
                <mat-form-field class="example-full-width control-search">
                    <input matInput placeholder="Search">
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
                <button mat-raised-button color="primary">Add</button>
            </div>
            <div class="contendor-list-categorias">

            </div>
        </div>
    
        <div class="contenedor-productos">
            <h3>PRODUCTOS</h3>
            <button mat-raised-button color="primary">Add</button>
            <div class="contendor-list-productos">

            </div>
        </div>

        <div class="contenedor-valores">
            <input type="text" placeholder="Subtotal" readonly>
            <input type="text" placeholder="IVA" readonly>
            <input type="text" placeholder="Total" readonly>
        </div>
    </div>
</mat-card>

