.card-inventario{
    width: 600px;
    height: 600px;
}
.card-inventario .contendor-inventarios{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.card-inventario .contendor-inventarios .contenedor-categorias{
    /* display: flex; */
}

.card-inventario .contendor-inventarios .contenedor-productos h3{
    display: inline-block;
    width: 80%;
    margin-right: 20px;
}
.card-inventario .contendor-inventarios .contenedor-categorias .sub-content-categorias{
    /* display: flex;
    justify-content: space-between; */
}
.control-search{
    width: 80%;
    margin-right: 20px;
}
.contenedor-valores{
    display: flex;
    justify-content: space-evenly;
}
.contenedor-categorias .contendor-list-categorias{
    height: 150px; 
    border: solid 1px; 
    margin-bottom: 10px;
}

.contenedor-productos .contendor-list-productos{
    height: 150px; 
    border: solid 1px; 
    margin-bottom: 10px;
}
.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  
  .example-radio-button {
    margin: 5px;
  }